@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&subset=latin-ext');

body {
   min-height: 100vh;
   font-family: 'IBM Plex Mono', monospace;
}

.container {
   padding: 0.5rem 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto;
}

#form {
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
}

.control {
   padding: 0.5rem 0;
}

#currency,
#amount {
   box-shadow: 2px 2px 4px 0px rgba(35, 209, 96, 0.75);
}

.radios {
   display: flex;
   font-size: 1.5rem;
   text-align: center;
}

.button {
   transform: scale(1);
   transition: transform 0.25s;
   box-shadow: 3px 3px 6px 0px rgba(50, 115, 220, 0.75);
}

.button:active {
   transform: scale(0.99);
}

footer {
   margin-top: 1rem;
}

/* media queries */
@media (min-width: 600px) {
   #form {
      margin: 0 auto;
      width: 60%;
   }
}

@media (min-width: 1000px) {
   .container {
      padding: 1.5rem 0;
      width: 50%;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 40%;
   }
}
